extends layout

block content
  .row
    .col-md-8
      h2.mb-4 Inicio

      if images && images.length > 0
        each image in images
          .card.mb-4
            .card-header.d-flex.align-items-center
              if image.imagen_perfil
                img.rounded-circle.me-3(src=image.imagen_perfil, width="40", height="40")
              else
                i.fas.fa-user-circle.fa-2x.me-3.text-muted
              div
                h6.mb-0= image.nombre + " " + image.apellido
                small.text-muted= image.album_titulo

            img.card-img-top(src=image.ruta_archivo, alt=image.titulo, style="max-height: 500px; object-fit: cover;")

            .card-body
              h5.card-title= image.titulo
              if image.etiquetas
                .mb-2
                  each etiqueta in image.etiquetas.split(',')
                    span.badge.bg-secondary.me-1= "#" + etiqueta

              .d-flex.justify-content-between.align-items-center
                div
                  button.btn.btn-outline-primary.btn-sm.me-2
                    i.fas.fa-heart.me-1
                    = image.total_likes || 0
                  button.btn.btn-outline-secondary.btn-sm.ver-comentarios(data-id=image.id_imagen)
                    i.fas.fa-comments.me-1
                    | #{image.total_comentarios || 0}

                a.btn.btn-primary.btn-sm(href=`/image/${image.id_imagen}`) Ver Detalles
      else
        .text-center.py-5
          i.fas.fa-images.fa-3x.text-muted.mb-3
          h4.text-muted No hay imagenes para mostrar
          p.text-muted Sigue a otros artesanos o sube tu primera imagen
          a.btn.btn-primary(href="/upload") Subir Primera Imagen

    .col-md-4
      .card
        .card-header
          h5.mb-0 Acciones Rapidas
        .card-body
          a.btn.btn-primary.w-100.mb-2(href="/upload")
            i.fas.fa-plus.me-2
            | Subir Imagen
          a.btn.btn-outline-primary.w-100.mb-2(href="/create-album")
            i.fas.fa-folder-plus.me-2
            | Crear Album
          a.btn.btn-outline-secondary.w-100(href="/search")
            i.fas.fa-search.me-2
            | Buscar Usuarios

      .card.mt-4
        .card-header
          h5.mb-0 Estadisticas
        .card-body
          p.mb-1
            strong Imagenes subidas:
            span.text-primary 0
          p.mb-1
            strong Comentarios recibidos:
            span.text-primary 0
          p.mb-0
            strong Amigos:
            span.text-primary 0

          // Modal para mostrar comentarios
          div.modal.fade#modalComentarios(tabindex="-1")
            div.modal-dialog.modal-lg
              div.modal-content
                div.modal-header
                  h5.modal-title Comentarios
                  button.btn-close(type="button", data-bs-dismiss="modal")
                div.modal-body
                  div#comentariosContenido.text-start
                  form#formComentario(method="POST")
                    .input-group.mt-3
                      input.form-control(type="text", name="comentario", id="comentarioInput", placeholder="Escribí un comentario...")
                      button.btn.btn-primary(type="submit") Enviar
                div.modal-footer
                  button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cerrar

          // Script JS para el modal
          script(src="/js/feed.js")
